.alrt
{
    
    color:#a00 !important;
}
.sahi{
   
    color:#0b0;
}
/* =============================================================
   GENERAL STYLES
 ============================================================ */
.body {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height:30px;
    margin-top: 20px;
}
.pad-top-botm {
    padding-bottom:40px;
    padding-top:60px;
}
h5 {
    text-transform:uppercase;
}
/* =============================================================
   PAGE STYLES
 ============================================================ */

.contact-info span {
    font-size:14px;
    padding:0px 50px 0px 50px;
}

.contact-info hr {
    margin-top: 0px;
margin-bottom: 0px;
}

.client-info {
    font-size:15px;
}

.ttl-amts {
    text-align:right;
    padding-right:50px;
}