<div class="row background_images">

  <div class="row center">
    <img src="../../assets/img/hookah_logo.png" style="margin-top: 30px;">
  </div>

  <div class="col-xs-6 col-xs-offset-3" style="margin-top:60px;">
    <md-card>
      <div class="row">
        <div class="row center">
          <h5 class="blue-text text-center text-darken-4">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            <br> Reset Password
          </h5>
        </div>


        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
          <div class="input-field col s12" formGroupName="passwords">
            <input id="password" type="password" class="validate" formControlName="password">
            <label for="password">Password</label>
            <div *ngIf="resetForm.controls['passwords'].controls['password'].invalid && !resetForm.controls['passwords'].controls['password'].pristine"
              class="alert alert-danger col s12" style="padding:10px;">
              <span class="text-danger">
                  Password is required and atleast contain 6 characters
              </span>
            </div>
          </div>

          <div class="input-field col s12" formGroupName="passwords">
            <input id="password" type="password" class="validate" formControlName="confirmPassword">
            <label for="password">Confirm Password</label>
            <div *ngIf="(resetForm.controls['passwords'].invalid || resetForm.controls['passwords'].controls['confirmPassword'].invalid)
                && !resetForm.controls['passwords'].controls['confirmPassword'].pristine" class="alert alert-danger col s12"
              style="padding:10px;"><span class="text-danger">
                  Password mismatch
                </span>
            </div>
          </div>

          <div class="row center">

            <button class="waves-effect waves-light btn" type="submit" [disabled]="flag"><i class="fa fa-repeat" aria-hidden="true"></i> Reset Password</button>
           
          </div>
        </form>
      </div>
    </md-card>
  </div>
</div>