<div class="col s12"> 
   <md-toolbar color="primary" class="background-color "  style="margin-top:12px;">
   <i class="fa fa-arrow-circle-left fa-2x waves-effect waves-light" (click)="commonService.nav('planmenu')" aria-hidden="true"
   ></i>
   <span style="margin:0px auto; ">
   <i class="fa fa-puzzle-piece" aria-hidden="true"></i> &nbsp; Add Default Plan
</span>
   </md-toolbar>
     <md-card >

     <div class="row">
    <form #form="ngForm" (ngSubmit)="updatePlan(form)">
       <div class="col-sm-6 col-sm-offset-1 col-xs-12 col-xs-offset-0" style="margin-bottom:0px !important">

      	<input type="hidden" >		
 
      <div class="form-group ">
  			<label for="defaultplan">Plans List:</label>
  				<select class="form-control" id="defaultplan">
			    	<option>1</option>
			    		<option>2</option>
			    			<option>3</option>
			    				<option>4</option>
  				</select>
		</div>
      
     
   </div>
      <div class="col-sm-4 center col-xs-12 col-xs-offset-0">
          <button class="waves-effect waves-light btn " style="margin-top:20px;">  <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit Plan </button>
        </div>   
   </form>
   </div>
  </md-card>
 </div>