



.sid_nav{
	
	width: 240px;
}
.icn
{
	color:#fff;
}

.admin_back{
	display: flex;
	justify-content:center;
	align-items:flex-end;
	background: url("../assets/admin.jpg");
	background-size: 100%;
	color:#fff;
	height: 140px;

}
.waves-effect .waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(121, 85, 72, 0.65);
    }

    .collection .collection-item.active{
    	background: #fff !important;
    	color: #444 !important;
    }
@media only screen and  (min-width: 480px) and  (max-width: 960px) {

	.sid_nav{

}

}

@media only screen and  (min-width: 240px) and  (max-width: 480px) {
    .sid_nav{
	
	width:240px;
}
}