  <div class="row" style="margin-top:10px;">
        <div class="col s12 m12 l4" >
          <div class="card" style="border-left:5px solid  #336699">
            <div class="card-content" >
            <i class=" material-icons medium " style="color:#336699">insert_chart</i>
              <span class="card-title" *ngIf="task_count"> {{task_count}}</span>
              <p>No. of Tasks 
             </p>
            </div>
          </div>
        </div>
         <div class="col s12 m12 l4">
          <div class="card " style="border-left:5px solid  #cc6633">
            <div class="card-content ">
            <i class="medium material-icons" style="color:#cc6633">insert_chart</i>
              <span class="card-title" *ngIf="plan_count"> {{plan_count}}</span>
              <p>No. of Plans 
             </p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l4">
          <div class="card " style="border-left:5px solid  #009900">
            <div class="card-content ">
            <i class="medium material-icons" style="color:#009900">insert_chart</i>
             <span class="card-title" *ngIf="agent_count"> {{agent_count}}</span>
              <p>No. of Agents 
             </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l6">
          <div class="card ">
            <div class="card-content" style="padding:0px;">
            <div class="row" style="background:#336699;color:#fff">
  <p style="margin-left:10px">
    <span><i class="fa fa-user-secret" aria-hidden="true" style="margin-top:10px"></i> &nbsp; Recent Tasks </span>
         <button md-icon-button [md-menu-trigger-for]="menu1" flex layout="row" layoutt-align="end center" class="right"><md-icon class="icn">more_vert</md-icon> </button>
    <span flex></span>
    <md-menu x-position="before"  #menu1 style="top:20px !important;">
    <a>
    <button md-menu-item (click)="commonService.nav('task')" >New Tasks</button>
    </a>
 
    </md-menu>
    </p>
             </div>
             <div *ngIf="new_tasks">
            <div class="row" style="border-bottom:1px solid #aaa;margin-top:-10px" *ngFor=
            "let task of new_tasks">
            <div class="col s2" ><i class="fa fa-paperclip" aria-hidden="true"></i></div>
            <div class="col s5"> {{task.job_address}} </div>
             <div class="col s5">{{task.job_pickup_datetime}}</div>
            </div>
            </div>
            </div>
          </div>
        </div>
          

  <div class="col s12 m12 l6">
          <div class="card ">
            <div class="card-content" style="padding:0px;">
            <div class="row" style="background:#cc6633;color:#fff">  
            <p style="margin-left:10px">
            <span >
             <i class="fa fa-tasks" aria-hidden="true" style="margin-top:10px;"></i> &nbsp; Recent Agents
             </span>
         <button md-icon-button [md-menu-trigger-for]="menu" flex layout="row" layoutt-align="end center" class="right"><md-icon class="icn">more_vert</md-icon> </button>
    <span flex></span>
    <md-menu x-position="before"  #menu style="top:20px !important;">
    <a>
    <button md-menu-item (click)="commonService.nav('agent')">New Agents</button>
    </a>
    </md-menu>
    </p>
             </div>
             <div *ngIf="new_agents">
            <div class="row" style="border-bottom:1px solid #aaa;margin-top:-10px" *ngFor="let agent of new_agents">
            <div class="col s2" ><i class="fa fa-paperclip" aria-hidden="true"></i></div>
            <div class="col s5">{{agent.user_name}}</div>
             <div class="col s5" style=" word-break: break-all;">{{agent.email}}</div>
            </div>
            </div>
            </div>
          </div>
        </div>
  </div>