<div class="col s12">
  <md-toolbar color="primary" class="background-color" style="margin-top:12px;"><i class="fa fa-user-secret" aria-hidden="true"></i> &nbsp; Agents Detail
    <!-- Displaying all the agents -->
    <!--<input type="search"  >-->
    <div class="input-field col s4 pull-right">
      <i class="material-icons prefix" style="margin-top:10px;">search</i>
      <input type="text" class="validate" #sv (keyup)="0" >
      <!--<label for="icon_prefix">Search here by agent name</label>-->
    </div>
  </md-toolbar>
  <md-card>
    <div class="row">
      <div class="col-xs-12 mainnnn">
        <div class="col-xs-12 maindetail">
          <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-user" aria-hidden="true"></i> UserName </strong></div>
          <div class=" col-sm-3 col-xs-3 headbord"><strong> <i class="fa fa-envelope" aria-hidden="true"></i> Email</strong></div>
          <div class="col-sm-2 col-xs-2  headbord"><strong> <i class="fa fa-phone" aria-hidden="true"></i> Phone</strong></div>
          <div class="col-sm-2 col-xs-2  headbord"><strong><i class="fa fa-hand-lizard-o" aria-hidden="true" ></i> Select Plan</strong></div>
          <div class="col-sm-2  col-xs-2 headbord"><strong> <i class="fa fa-eye" aria-hidden="true"></i> View Detail</strong></div>
        </div>

        <div class="col-xs-12 maindetail" *ngFor="let agent of agents | search:sv.value: 'user_name'">
          <div class="col-sm-2 col-xs-2 detailll">{{agent.user_name}}</div>
          <div class=" col-sm-3 col-xs-3 detailll">{{agent.email}}</div>
          <div class="col-sm-2 col-xs-2 detailll">{{agent.phone}}</div>
          <div class="col-sm-2 col-xs-2 preparedd">
            <button *ngIf="agent.plan_a_name=='Unassigned'" class="btn btn-xs" data-toggle="collapse" attr.data-target="{{'#'+agent.user_name.split(' ').join('')}}"
              (click)="getId(agent.fleet_id)" (click)="selectPlan()"> <span class="items"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Select</span></button>

            <button *ngIf="agent.plan_a_name!='Unassigned'" class="btn btn-xs" data-toggle="collapse" attr.data-target="{{'#'+agent.user_name.split(' ').join('')}}"
              (click)="getId(agent.fleet_id)" (click)="selectPlan()"> <span class="items"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Update</span></button>
          </div>
          <div class="col-sm-2 col-xs-2 vieww">
            <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" attr.data-target="{{'#'+agent.fleet_id}}"> <i class="fa fa-eye" aria-hidden="true"></i> View</button>
          </div>
          <div class="col-xs-12 colaps">
            <div attr.id="{{agent.fleet_id}}" class="collapse text-justify">
              <div class="col-xs-12 maindetail">
                <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-user-o" aria-hidden="true"></i> Team Name</strong> </div>
                <div class=" col-sm-3 col-xs-3 headbord"> <strong><i class="fa fa-user-circle-o" aria-hidden="true"></i> LastName</strong></div>
                <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-file-text" aria-hidden="true"></i> PlanA </strong> </div>
                <div class="col-sm-3 col-xs-3 headbord">
                  <strong><i class="fa fa-file-text-o" aria-hidden="true"></i>  PlanB </strong>
                </div>
                <div class="col-sm-2 col-xs-2 headbord">
                  <strong> <i class="fa fa-tags" aria-hidden="true"></i> TagName </strong>
                </div>
              </div>

              <div class="col-xs-12 maindetail">
                <div class="col-sm-2 col-xs-2 detailll"> {{agent.user_name}} </div>
                <div class="col-sm-3 col-xs-3 detailll"> {{agent.user_name}}</div>
                <div class="col-sm-2 col-xs-2 detailll"> {{agent.plan_a_name}}</div>
                <div class="col-sm-3 col-xs-3 detailll">
                  {{agent.plan_b_name}}
                </div>
                <div class="col-sm-2 col-xs-2 detailll">
                  {{agent.tag_name}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 colaps">
            <div attr.id="{{agent.user_name.split(' ').join('')}}" class="collapse text-justify">

              <!-- updating plans of agents  -->
              <div>
                <form #form="ngForm" (ngSubmit)="updatePlan(form,agent.user_name)">
                  <div class=" col s4">
                    <div class="form-group">
                      <label for="sel1">Plan A:</label>
                      <select class="form-control" id="plan_a_no" required [(ngModel)]="agent.plan_a_no" name="plan_a_no">
            <option *ngFor="let plan of plans" value={{plan.id}} [value]="agent.plan_a_no">{{plan.name}}</option>
          </select>
                    </div>
                  </div>

                  <div class=" col s4">
                    <div class="form-group">
                      <label for="sel1">Plan B:</label>
                      <select class="form-control" id="plan_b_no" required [(ngModel)]="agent.plan_b_no" name="plan_b_no">
         <option *ngFor="let plan of plans" value={{plan.id}} [value]="agent.plan_b_no">{{plan.name}}</option>
        </select>
                    </div>
                  </div>

                  <div class=" col s4" *ngIf="agent.plan_a_name!='Unassigned'">
                    <button class="waves-effect waves-light btn red lighten-2" style="margin-top:25px"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update  </button></div>
                  <div class=" col s4" *ngIf="agent.plan_a_name=='Unassigned'">
                    <button class="waves-effect waves-light btn red lighten-2" style="margin-top:25px"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Apply  </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-card>
</div>