<div class="col s12">
      <md-toolbar color="primary" class="background-color"  style="margin-top:12px;"><i class="fa fa-hourglass-end" aria-hidden="true"></i> &nbsp; Tasks Completed</md-toolbar>
           <md-card >
           <div class="row">
           <div class="col-xs-12 mainnnn">
              <div class="col-xs-12 maindetail">
                  <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-location-arrow" aria-hidden="true"></i> Customer Name </strong></div>
                  <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-location-arrow" aria-hidden="true"></i> Address </strong></div>
                  <div class=" col-sm-2 col-xs-2 headbord"><strong> <i class="fa fa-clock-o" aria-hidden="true"></i> StartTime</strong></div>
                  <div class="col-sm-2 col-xs-2  headbord"><strong> <i class="fa fa-clock-o" aria-hidden="true"></i> EndTime</strong></div>
                  <div class="col-sm-2 col-xs-2  headbord"><strong><i class="fa fa-hourglass-start" aria-hidden="true"></i> Status</strong></div>
                  <div class="col-sm-2  col-xs-2 headbord" ><strong> <i class="fa fa-check" aria-hidden="true"></i> Check Payout</strong></div>
              </div>
              <div *ngIf="tasks">
              <div class="col-xs-12 maindetail" *ngFor="let task of tasks">
                  <div class="col-sm-2 col-xs-2 detailll"> <strong>{{task.customer_username}} </strong></div>
                  <div class="col-sm-2 col-xs-2 detailll"> <strong> {{task.job_address}}</strong></div>
                  <div class=" col-sm-2 col-xs-2 detailll"><strong> {{task.job_pickup_datetime}}</strong></div>
                  <div class="col-sm-2 col-xs-2  detailll"><strong> {{task.job_delivery_datetime}}</strong></div>
                  <div class="col-sm-2 col-xs-2  detailll" *ngIf="task.status==9"><button class="waves-effect waves-light btn red" >Cancel</button></div>
                   <div class="col-sm-2 col-xs-2  detailll" *ngIf="task.status==2"><button class="waves-effect waves-light btn " >Successful</button></div>
                  <div class="col-sm-2  col-xs-2 detailll" ><button class="waves-effect waves-light btn" (click)="checkPayout(task.job_id)">Payout</button></div>
              </div>
              </div>
          </div>
       </div>
    </md-card>
  </div>

