.main_body{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #eee;
	margin-bottom: 0px;
}
.wraper{
	background: #fff;
	height: 400px;
	margin-top:50px;
	padding: 0px;
}
.heading{
	background: #2962ff;
	color:#fff;
	padding-top:15px;
	padding-bottom:15px; 
	text-align: center;
}
button{
	background: #2962ff;
	color: #fff;
	border-radius: 5px;
}
.content{
	margin-top:20px;
	line-height: 30px;
}

.goto{
	margin-top:5px;
}


@media screen and (min-width:250px) and (max-width:768px){
  .wraper{
	
	height: 500px;
	}
	.content{
	margin-top:10px;
	line-height: 25px;
}
}