/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}
 
.flash-message 
{
    z-index: 200;
    position: relative;
}
.alert-successs
{
  background:#eee;
  color:#0a0;
  position: relative;
  z-index: 20;padding: 73px 10px;text-align: center;margin-top: 150px !important;
  width:60%;
  margin-left: 20%;
}
.alert-dangers
{
   position: relative;
   background:#eee;
   color:#a00;
  z-index: 20;padding: 73px 10px;text-align: center;margin-top: 150px !important;
  width:60%;
  margin-left: 20%;
   
}
.loader{
  opacity: 0.8 !important;
}
a:hover{
  text-decoration: none !important;
}
snack-bar-container{
  padding: 25px 20px !important;
}

/*agents css*/

.btn{
  padding: 0px 10px;
}
.background-color{
	background: #fff !important;
  color:#1a237e !important;
  box-shadow: 0px -1px 0.5px #222 inset !important;
}

 .toping{
  margin-top: -10px;
  padding:5px;
}
.sid_icn{
  margin-top: 5px;
}
@media screen and (min-width:250px) and (max-width:768px){
  .rightooo{
    margin-top: 10px;
  }
.toping{
  margin-top: -25px
}
}   
.app-toolbar-filler {
  flex: 1 1 auto;
}



.sid_nav{
	
	width: 240px;
}
.icn
{
	color:#fff;
}

.admin_back{
	display: flex;
	justify-content:center;
	align-items:flex-end;
	background: url("assets/img/admin.jpg");
	background-size: 100%;
	color:#fff;
	height: 140px;

}
.md-sidenav-container{
	width: 100%;
	animation: stretch ease-in-out 1s 1
}
@keyframes stretch {
   0% { width: 0%;height:0%;  }
   100%{ width: 100%;height:100%; }
}
.waves-effect .waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(255, 85, 72, 1)!important;
    }

    .collection .collection-item.active{
    	background: #fff !important;
    	color: #444 !important;
    }
@media only screen and  (min-width: 480px) and  (max-width: 960px) {

	.sid_nav{

}

}

@media only screen and  (min-width: 240px) and  (max-width: 480px) {
    .sid_nav{
	
	width:240px;
}
}



md-backdrop.md-select-backdrop {
    z-index:103;
}

.md-select-menu-container {
    z-index:104;
}


.applied{
  background: transparent;
  color:#d32f2f !important;
  border:1px solid #d32f2f;
  border-radius: 5px;
}




.mainnnn{
  padding: 0px;
}


.maindetail{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding:0px;
}
.leftoo{
  padding:0;
  border:1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(203, 203, 238, 0.2);
}
.custommm{
  background: #eee;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
  font-size:15px;
  font-weight: bold;
}
.ooorder{
  color: #3b5998;
  padding: 5px;
  text-align: center;
  transition:all 0.90s ease-out 0s;
}
.ooorder:hover{
  color: #fff;
  background:#3b5998; 
}
.myorderrr{
	/*padding:10px 0px 10px 0px; */
   font-weight: bold;
   font-size: 30px;
}
.yoooppp{
	font-size:22px;
	padding:10px ; 
}
.iuhaq{
	border-bottom: 1px solid rgba(0,0,0,0.1);
   padding:10px;
}
.headbord{
	padding-top:10px;
    padding-bottom: 10px; 
    font-weight: bold;
    color:#01579b;

}
.detailll{
  word-break: break-all;
	 padding-top: 10px;
   padding-bottom: 10px;
	
}

.colaps{
  background:#eee;
  border-left:2px solid #0a0;
}
.vieww{
	
  padding: 5px 0px;
  margin-left: 5px;
}
.preparedd {
     
	
   padding: 5px 0px;
  margin-left: 5px;  
}
.preparedd button{
    
    color: #fff;
}
.receivedd{
     padding-top: 10px;
     padding-bottom: 8px;
	 border-bottom: 1px solid rgba(0,0,0,0.1);
}
.receivedd button{
	color: #fff;
   background: #23b41d;
}
.cancell{
     padding-top: 10px;
     padding-bottom: 8px;
	 border-bottom: 1px solid rgba(0,0,0,0.1);
}
.cancell button{
	color: #fff;
	background: #e10000;
}
.onholdd{
     padding-top: 10px;
     padding-bottom: 8px;
	 border-bottom: 1px solid rgba(0,0,0,0.1);
}
.onholdd button{
	color: #fff;
    background: #e14f00;
}
@media screen and (min-width:250px) and (max-width:768px){
  .rightooo{
  	margin-top: 10px;
  }
}
@media screen and (min-width:250px) and (max-width:768px){
  .mainnnn{
  	overflow-x:scroll; 
  }
  .maindetail{
  	width:720px;
  }
  .headbord{
  	width:130px;
  }
  .detailll{
  	width:130px;
  }
  .preparedd{
  	width: 130px;
  }
  .vieww{
    width: 130px;
  }
  .cancell{
  	width: 130px;
  }
  .onholdd{
  	width: 130px;
  }
  .received{
  	width: 130px;
  }
}


/*agents css endz here*/


*{
    box-sizing: border-box !important;
}



/**********************...... Login & sign up form Css......*******************/
 a {	cursor: pointer;}


.main{
	padding: 4.6% 0;
}
.margin{margin: 0 !important;}
.btn_hover_scale:hover{transform: scale(1.1);box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);  }
.btn_hover:hover{transform: translateY(-3px);box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);  }
.login_signup_button{	position: relative;right: -50px;	}
.login_border_left_side{width: 4px; height: 45px;position: absolute;left: 0px;}
.login_box {   
	 animation: fade_up ease-in-out 1s 1;
	 border-radius: 2px;
}
.signup_box{	
	animation: fade_up ease-in-out 1s 1;
	border-radius: 2px;
	
}
.forgetpassword{
	animation: fade_up ease-in-out 1s 1;
	border-radius: 2px;
	
}
@-webkit-keyframes move {
    from { background-position: 0% 5%  }
    to {  background-position:0% 187%  }
}
@keyframes fade_up {
   0% { opacity: 0; transform: scale(.5) }
   50%{ opacity: 1;	transform: scale(1)}
}

/* ........Responsive Elements.......*/
@media only screen and (min-width:300px) and (max-width: 640px) {
   .h2_in_small_screen{ font-size: 35px; }
	.login_signup_button{right: 0px !important;	}
	.main{	padding: 6% 0 4.6% 0;}
}
@media only screen and (min-width:400px) and (max-width: 768px) {

} /* ......../Responsive Elements.......*/

/* Only For Login Form SignUp form Responsive card width  margin */
.card_panel_center{padding:0% 35%;}
@media only screen and (max-width: 1200px) {
.card_panel_center{padding:0% 33%;}
}
@media only screen and (max-width: 1100px) {
.card_panel_center{padding:0% 31%;}
}
@media only screen and (max-width: 1000px) {
.card_panel_center{padding:0% 30%;}
}
@media only screen and (max-width: 950px) {
.card_panel_center{padding:0% 28%;}
}
@media only screen and (max-width: 900px) {
.card_panel_center{padding:0% 26%;}
}
@media only screen and (max-width: 800px) {
.card_panel_center{padding:0% 24%;}
}
@media only screen and (max-width: 700px) {
.card_panel_center{padding:0% 20%;}
}
@media only screen and (max-width: 600px) {
.card_panel_center{padding:0% 15%;}
}
@media only screen and (max-width: 500px) {
.card_panel_center{padding:0% 10%;}
}
@media only screen and (max-width: 450px) {
.card_panel_center{padding:0% 8%;}
}
@media only screen and (max-width: 400px) {
.card_panel_center{padding:0% 2%;}
}
@media only screen and (max-width: 350px) {
.card_panel_center{padding:0% 0%;}
}
@media only screen and (max-width: 300px) {
.card_panel_center{padding:0% 0%;}
}  /* /Endz here Only For Login Form SignUp form Responsive card width  margin */



/***********************......Endz of Login & sign up form Css......*******************/




