  <div class="col s12">
   <md-toolbar color="primary" class="background-color"  style="margin-top:12px;"><i class="fa fa-briefcase" aria-hidden="true"></i> &nbsp; Our Tasks
     <div class="input-field col s4 pull-right">
      <i class="material-icons prefix" style="margin-top:10px;">search</i>
      <input type="text" class="validate" #sv (keyup)="0" >
      <!--<label for="icon_prefix">Search here by agent name</label>-->
    </div>
   </md-toolbar>
     <md-card >
       <div class="row">
         <div class="col-xs-12 mainnnn">
           <div class="col-xs-12 maindetail">
              <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-user-circle-o" aria-hidden="true"></i> Customer Name </strong>
              </div>
              <div class=" col-sm-3 col-xs-3 headbord"><strong> <i class="fa fa-address-card" aria-hidden="true"></i> Address</strong>
              </div>
              <div class="col-sm-2 col-xs-2  headbord"><strong><i class="fa fa-clock-o" aria-hidden="true"></i> Start</strong>
              </div>
              <div class="col-sm-3 col-xs-3  headbord"><strong><i class="fa fa-clock-o" aria-hidden="true"></i> End</strong>
              </div>
              <div class="col-sm-2  col-xs-2 headbord" ><strong> <i class="fa fa-eye" aria-hidden="true"></i> View Detail</strong>
              </div>
            </div>
                <!--<input type="text" #sv (keyup)="0" placeholder="Search here by customer name">-->
            <div class="col-xs-12 maindetail" *ngFor="let task of tasks.slice().reverse() | search:sv.value:'customer_username';let i = index">
              <div class="col-sm-2 col-xs-2 detailll">{{task.customer_username}}</div>
              <div class=" col-sm-3 col-xs-3 detailll">{{task.job_address}}</div>
              <div class="col-sm-2 col-xs-2 detailll">{{task.job_pickup_datetime }}</div>
              <div class="col-sm-3 col-xs-3 detailll">{{task.job_delivery_datetime}}</div>    
              <div class="col-sm-2 col-xs-2 vieww">
                <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" 
                attr.data-target="#{{i}}" (click)="taskDetail(task.job_address,task.job_pickup_datetime,task.job_delivery_datetime,task.customer_username,i)"> <i class="fa fa-eye" aria-hidden="true" ></i> 
                View</button>
              </div>
              <div class="col-xs-12 colaps">
                <div attr.id="{{i}}" class=" collapse text-justify">
                  <div class="col-xs-12 maindetail" >
                    <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-user-secret" aria-hidden="true"></i> Assigned Agent</strong> </div>
                    <div class=" col-sm-3 col-xs-3 headbord"> <strong> <i class="fa fa-envelope" aria-hidden="true"></i> Customer Email</strong></div>
                    <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-phone" aria-hidden="true"></i> Customer Phone </strong> </div>
                    <div class="col-sm-3 col-xs-3 headbord">
                      <strong> <i class="fa fa-hand-rock-o" aria-hidden="true"></i>  Plan Assigned </strong>
                    </div>
                    <div class="col-sm-2 col-xs-2 headbord">
                      <strong> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Apply </strong>
                    </div>
                  </div>
                  <div class="col-xs-12 maindetail" *ngFor="let detail of taskdetails[i]">
                    <div class="col-sm-2 col-xs-2 detailll">  {{detail.fleet_name}} </div>
                    <div class="col-sm-3 col-xs-3 detailll"> {{detail.customer_email}}</div>
                    <div class="col-sm-2 col-xs-2 detailll">  {{detail.customer_phone}} </div>
                    
                    <!-- assigning task to agents -->
                    <div *ngIf="!detail.task_assign">
                    <form (ngSubmit)="submitForm(form,task.job_address,task.job_pickup_datetime,task.job_delivery_datetime,task.customer_username,i,detail.fleet_name)" #form="ngForm">
                      <div class="col-sm-3 col-xs-3 detailll">
                        <!-- <div class="input-field col s12" style="padding:0px"> -->
                        <input type="hidden" name="job_id" *ngIf="detail" [(ngModel)]="detail.job_id">
                        <input type="hidden" name="fleet_id" *ngIf="detail" [(ngModel)]="detail.fleet_id">
                        <div class="form-group">
                          <select *ngIf="detail.plan_a_no.name"  class="form-control"  required name="plan_id" ngModel style="display:block;">
                		        <option value="" disabled selected >Assign Plan</option>
                		        <option value={{detail.plan_a_no.id}} >{{detail.plan_a_no.name}}</option>
                		        <option value={{detail.plan_b_no.id}}>{{detail.plan_b_no.name}}</option>
            		          </select>
                        </div>
                      <div *ngIf="!detail.plan_a_no.name">
                        <p class="waves-effect waves-light btn red lighten-1 " style="margin-top:-25px" (click)="commonService.nav('agent')" >Assign Plan</p> </div>
                    <!-- </div> --> 
                  </div>
                  <div class="col-sm-2 col-xs-2 detailll"   >
                    <button class="btn btn-info btn-sm" type="submit" *ngIf="detail.plan_a_no.name"> <i class="fa fa-check" aria-hidden="true"></i>Apply</button>
                  </div>
                 </form>
                 </div> 

                 <!-- updating task assigned to agents -->
                 <span *ngIf="detail.task_assign">
                 <div class="col-xs-3" >
                   <p style="margin-top:9px;text-transform:capitalize;"> <strong> {{detail.plan_assign}} </strong></p>
                 </div> 
                  <div class="col-sm-2 col-xs-2 detailll"  >
                    <button class="btn btn-info btn-sm" type="submit" (click)="nav('updatetaskplan',detail.task_assign,detail.fleet_id)"> <i class="fa fa-check" aria-hidden="true"></i> Update</button>
                  </div>
                </span>
                  

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</md-card>
</div>