<div class="col s12">
      <md-toolbar color="primary" class="background-color"  style="margin-top:12px;"><i class="fa fa-search" aria-hidden="true"></i> &nbsp; Search Payout</md-toolbar>
           <md-card >
           <div class="row">

     <form [formGroup]="payoutForm" (ngSubmit)="submitPayout()">
       

  <div class="form-group col m4 s12">
    <label for="sel1">Select Agents</label>
      <span *ngIf="searchData">
      <select class="form-control" id="fleet_id" formControlName="fleet_id" required>
        <option *ngFor="let agent of searchData" value={{agent.fleet_id}}>{{agent.user_name}}</option>
      </select>
        </span>
  </div>

        <div class="input-field col m3 s10">
          <input id="last_name" type="date" class="validate" formControlName="from">
          <label for="last_name" class="active" >From</label>
        </div>

        <div class="input-field col m4 s10">
          <input id="last_name" required required type="date" class="validate" formControlName="to">
          <label for="last_name" class="active">To</label>
        </div>

        <div class="col m1 s2 center">
          <button class="waves-effect waves-light btn" style="margin-top:20px;"><i class="fa fa-search" aria-hidden="true" type="submit"></i></button>
        </div>
        </form>
           </div>

             <div class="row" *ngIf="tasks">
           <div class="col-xs-12 mainnnn">
              <div class="col-xs-12 maindetail">
                  <div class="col-sm-2 col-xs-2 headbord"> <strong> <i class="fa fa-users" aria-hidden="true"></i> Customer Name </strong></div>
                  <div class="col-sm-3 col-xs-2 headbord"> <strong> <i class="fa fa-user-secret" aria-hidden="true"></i> Task Address </strong></div>
                  <div class=" col-sm-2 col-xs-2 headbord"><strong> <i class="fa fa-clock-o" aria-hidden="true"></i> Started at</strong></div>
                  <div class="col-sm-2 col-xs-2  headbord"><strong><i class="fa fa-eye" aria-hidden="true"></i> Ended at</strong></div>
                  <div class="col-sm-3 col-xs-2  headbord"><strong><i class="fa fa-eye" aria-hidden="true"></i> View Detail</strong></div>
                
              </div>
              <div >
              <div class="col-xs-12 maindetail" *ngFor="let task of tasks">
                  
                  <div class="col-sm-2 col-xs-2 detailll"> <strong>{{task.customer_username}} </strong></div>
                  <div class="col-sm-3 col-xs-2 detailll"> <strong> {{task.job_address}}</strong></div>
                  <div class=" col-sm-2 col-xs-2 detailll"><strong> {{task.job_pickup_datetime}}</strong></div>
                  <div class=" col-sm-2 col-xs-2 detailll"><strong> {{task.job_delivery_datetime}}</strong></div>
                  <div class="col-sm-3 col-xs-2  detailll" ><button class="waves-effect waves-light btn" (click)="checkPayout(task.job_id)"><i class="fa fa-eye" aria-hidden="true"></i> View</button></div>
                  
              </div>
              </div>
          </div>
       </div>
            </md-card>       
  </div>

